@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
span {
  display: inline-block;
}
body {
  background-color: #ede7d7;
  width: 100%;
}

#heder {
  display: flex;
  background-color: #40725b;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#bann {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}

#back_img {
  margin-right: 20px;
  width: 40px;
}

#delivery_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
}
.info_list {
  height: 120px;
  width: 85%;
  font-size: 13px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
p {
  font-size: 12px;
}
#info_product {
  margin-left: 40px;
}
#info_product img {
  width: 40px;
  margin-left: 10px;
}
#info_send img {
  width: 40px;
  margin-left: 10px;
}
#info_send {
  margin-left: 40px;
}
#info_receive {
  margin-left: 40px;
}
#info_receive img {
  width: 40px;
  margin-left: 10px;
}
#info_num {
  margin-left: 40px;
}
#info_num img {
  width: 40px;
  margin-left: 10px;
}

#content img {
  width: 40px;
}

h4 {
  margin-bottom: 8px;
}

.specific {
  font-size: 16px;
  color: grey;
}

#content img {
  width: 60px;
}
