@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #ede7d7;
  width: 100%;
}

#title {
  font-size: 70px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 100px;
}

#sec {
  margin-left: 100px;
}

#sec_1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 30px;
}

#btn_track {
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 22px;
  box-shadow: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #40725b;
  width: 180px;
  height: 60px;
  border: none;
}

#truck {
  display: block;
  max-width: 100%;
  height: auto;
}
